// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Primary font
/// @type List
$font-primary: "Inter", sans-serif !default;

/// Secondary font
/// @type List
$font-secondary: "Georgia", serif !default;

/// Font mono
/// @type List
$font-mono: "Courier New", monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-primary: #f1fc5b !default;

/// Main brand color
/// @type Color
$brand-secondary: #6dbaff !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Gradient
/// @type Color
$gradient: linear-gradient(120deg, $brand-primary, $brand-secondary);

/// Gradient-reverse
/// @type Color
$gradient-reverse: linear-gradient(-120deg, $brand-primary, $brand-secondary);

//Brakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width: 1200px;
