@use "../abstracts/variables" as *;

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: $bp-tablet) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
