@use "../abstracts/variables" as *;

.header {
  &__menu-toggle {
    display: none;
  }

  &__menu-toggle:checked ~ &__navbar {
    transform: translateX(0%);
  }

  &__hamburger {
    cursor: pointer;
    display: block;
    font-size: 20px;
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); /* Oculto a la derecha */
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    overflow-y: auto;
    background:
      radial-gradient(
        circle at top right,
        rgba(241, 252, 91, 0.35),
        transparent 55%
      ),
      radial-gradient(
        circle at bottom left,
        rgba(109, 186, 255, 0.85),
        transparent 60%
      ),
      white;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    color: $dark-grey;
    font-size: 2rem;
    cursor: pointer;
    z-index: 20;
    transition: transform 0.3s ease;
  }

  &__close:active {
    transform: rotate(90deg) scale(0.95);
  }

  &__close:hover {
    transform: rotate(90deg) scale(1.08);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 5px;
  }

  &__link {
    display: block;
    padding: .75rem 1.25rem;
    border: 3px solid $text-color;
    border-radius: 999px;
    background: $gradient;
    color: $text-color;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
  }

  &__link--active {
    box-shadow: none;
    transform: none;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-weight: 800;
  }
}

//TABLET

@media (min-width: $bp-tablet) {
  .header{

    &__navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      background: rgba($mid-grey, .6);
      padding: 5px 15px;
      box-shadow: inset 0px 8px 8px 0px rgba($brand-primary, 0.3);
    }

    &__navbar::before {
      content:"";
      height: 3px;
      width: 100%;
      background: $gradient;
      bottom: 0;
      position: absolute;
    }

    &__close {

      display:none;
    }

    &__list {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__item {
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    &__link {
      padding: 10px 0;
      font-size: large;
      font-weight: 600;
      color: $dark-grey;
      background: none;
      border: none;
      border-radius: 0;
    }

    &__link--active {
      font-weight: 900;
      text-underline-offset: 6px;
  }
  }
}
