// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/variables" as *;

.header {    
    position: relative;
    overflow-x: clip;
    z-index: 10;


    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba($mid-grey, 0.3);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        z-index: -1;
    }    
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
        align-items: center;
    }

    &__logo {
        align-self: center;

        & img {
            width: auto;
            height: 25px;
        }
    }
}