// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../abstracts/variables" as *;

.header {
    display: flex;
    flex-direction:row;
    position: relative;
    z-index: 1;
    background: rgba($mid-grey,0.3);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-bottom: 1px solid rgba($brand-secondary, 0.75);
    
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 5px;
        align-items: center;
    }

    &__logo {
        align-self: center;

        & img {
            width: auto;
            height: 25px;
        }
    }
}