@use "../abstracts/variables" as *;

.header {
  &__menu-toggle {
    display: none;
  }

  &__menu-toggle:checked ~ &__navbar {
    transform: translateX(0%);
  }

  &__hamburger {
    cursor: pointer;
    display: block;
    font-size: 20px;
  }

  &__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); /* Oculto a la derecha */
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    overflow-y: auto;
    background:
      radial-gradient(
        circle at top right,
        rgba(241, 252, 91, 0.35),
        transparent 55%
      ),
      radial-gradient(
        circle at bottom left,
        rgba(109, 186, 255, 0.85),
        transparent 60%
      ),
      white;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    color: $dark-grey;
    font-size: 2rem;
    cursor: pointer;
    z-index: 20;
    transition: transform 0.3s ease;
  }

  &__close:active {
    transform: rotate(90deg) scale(0.95);
  }

  &__close:hover {
    transform: rotate(90deg) scale(1.08);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 5px;
    margin-top: 15px;
  }

  // &__link {}

  &__link--active {
    box-shadow: none;
    transform: none;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
