.news {
  margin-bottom: 2rem;

  // &__title {}

  // &__description {}

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
  }

  // &__cta-text {}
}
