@use "../abstracts/variables" as *;
.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  outline:1px solid rgba(0, 0, 0, 0.45);
  box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.45);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 30px rgba($text-color, .12);
  }

  &:active {
    transform: translateY(-1px) scale(0.98);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  }

  &::before {
    content: "";
    display: block;
    height: 5px;
    overflow: hidden;
    border-radius: 16px;
    background: $gradient;
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    flex: 1;
  }

  &__link {
    background: $gradient;
    margin-top: auto;
    align-self: flex-end;
    width: fit-content;
    i {
      padding-left: 10px;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__category {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $dark-grey;
  }

  &__duration {
    display: inline-block;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .05em;
    color: $dark-grey;
  }

  &__title {
    position: relative;
  }
}

.card {
  &--mini {
    .card__body {
      display: grid;
      grid-template-columns: auto minmax(0, 1fr);
      gap: 1rem;
      padding: 1rem;
    }

    .card__logo {
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
    }

    .card__title {
      align-self: center;
      font-size: 1.25rem;
    }

    .card__description {
      grid-column: 1 / -1;
    }
  }
}
