@use "../abstracts/variables" as *;

.about {

  position: relative;
  background: transparent;
  color: $text-color;
  padding-block: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {}

  &__description {
    max-width: 380px;
    text-align: center;
    padding-bottom: 2rem;
  }

  &__team-title {
    justify-self: center;
  }

  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  &__person {
    display: grid;
    grid-template-areas:
      "image"
      "name"
      "role";
    grid-template-columns: 1fr;
    margin: 0 auto;

  }

  &__image {
    grid-area: image;
    justify-self: center;
    border-radius: 999px;
  }

  &__name {
    grid-area: name;
    justify-self: center;
    padding-top: 0.5rem;

  }

  &__role {
    grid-area: role;
    justify-self: center;
    color: $dark-grey;
  }

}


@media (min-width:$bp-tablet-horizontal) {
  .about {

    &__description {
      max-width: 900px;
    }

    &__grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto;
      gap: 2rem;
    }

    &__person {
      display: grid;
      justify-items: center;
      text-align: center;

      &:nth-child(1) {
        grid-column: 3;
        grid-row: 1;
      }

      &:nth-child(2) {
        grid-column: 2;
        grid-row: 2;
      }

      &:nth-child(3) {
        grid-column: 4;
        grid-row: 2;
      }
    }

  }
}
